<!DOCTYPE html>
<html>
  <head>
    <title>Food Drying Sensor Dashboard</title>
    <meta name="description" content="website description" />
    <meta name="keywords" content="website keywords, website keywords" />
    <meta http-equiv="content-type" content="text/html; charset=windows-1252" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    <link rel="shortcut icon" href="static/cereal.png" type="image/x-icon">
  </head>

  <body>
    <div id="main">
      <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
          <a class="navbar-brand" href="/">Cereal</a>
          <button
            class="navbar-toggler"
            type="button"
            data-toggle="collapse"
            data-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
              <a class="nav-item nav-link" href="/current">
                Current Data
              </a>
              <a class="nav-item nav-link active" href="/batch">Batch Analysis</a>
            </div>
          </div>
        </nav>
      </header>
    </div>
    <div class="jumbotron jumbotron jumbotron-fluid">
      <div class="container">
        <h1 class="display-4">Daily Meter Data Average Analysis</h1>
        <p class="lead">
          This page displays the average values aggregated daily. The daily data is split into multiple batches to calculate the average values up to the product humidity measurement is taken.
          The client can view the overall trend of the relationship amongst the product humidity and average sensor values over the past week.
        </p>
      </div>
    </div>
    <div id="humidity" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
    <div id="temperatures" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
    <div id="water" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
    <div id="fan" style="min-width: 310px; height: 400px; margin: 0 auto; padding-bottom: 50px;"></div>
    <div id="container"></div>

    <footer class="footer mt-auto py-3" style="background-color:#f5f5f5">
      <div class="container">
        <span class="text-muted">Copyright © 2019 Julie Jung. All Rights Reserved</span>
      </div>
    </footer>

    <script
      src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
      integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
      crossorigin="anonymous"
    ></script>
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script src="https://code.highcharts.com/highcharts.src.js"></script>
    <script src="https://code.highcharts.com/modules/data.js"></script>
    <script src="https://code.highcharts.com/modules/series-label.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>
    <script src="https://code.highcharts.com/modules/export-data.js"></script>

    <!-- Additional files for the Highslide popup effect -->
    <script src="https://www.highcharts.com/media/com_demo/js/highslide-full.min.js"></script>
    <script src="https://www.highcharts.com/media/com_demo/js/highslide.config.js" charset="utf-8"></script>
    <link rel="stylesheet" type="text/css" href="https://www.highcharts.com/media/com_demo/css/highslide.css" />

    <script type="text/javascript" src="static/batch.js"></script>
  </body>
</html>
